.checkbox {
  display: flex;
  padding: 5px 20px;
  gap: 10px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  transition: 0.2s linear;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: #f1fcff;
  }

  input {
    position: absolute;
    appearance: none;
    width: 0;
    height: 0;

    &:checked + .custom {
      background-image: url(../../assets/CheckboxChecked.svg);
    }
  }

  .custom {
    width: 1.6em;
    height: 1.6em;
    transition: 0.2s;
    background-image: url(../../assets/CheckboxUnchecked.svg);
    background-repeat: no-repeat;
  }
}
